@model Product
@{
    ViewData["Title"] = "Product information";
}
<h1>Product Information</h1>

<div class="row">
    <div class="col-md-2">
        <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>

                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>

                    @Html.DisplayNameFor(model => model.Antal)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Antal)
                </dd>
                <dt>

                    @Html.DisplayNameFor(model => model.Pris)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pris)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>
